/* Account */

.b-account {
  font-size: 11px;
  line-height: 1em;

  cursor: default;
}

.b-account:after {
  clear: right;
}


/* Account info */

.b-account__info {
  height: 42px;
  line-height: 1.35em;

  padding-left: 12px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-account__info_middle {
  line-height: 42px;
}

.b-account__info-inner {
  line-height: 1.35em;

  display: inline-block;
}


/* Avatar wrapper */

.b-account__avatar-wrapper {
  width: 42px;
  height: 42px;
}

.b-account__avatar {
  width: inherit;
  height: auto;
}


/* Link */

.b-account__link {
  color: #949494;
  text-decoration: none;

  line-height: 1em;

  margin-left: 10px;
  margin-bottom: 7px;
  border-bottom: 1px solid;

  display: inline-block;
}

.b-account__link:hover {
  color: #AEAEAE;

  border-bottom: 0;
  padding-bottom: 1px;
}

/* Additional (grey) links */

.b-account__additional-links
.b-account__link:first-child {
  margin-left: 0;
}

/* Username */
.b-account__name {
  max-width: 120px;
  color: #111;

  display: inline-block;
  text-overflow: ellipsis;
}

.b-account__link.b-account__name {
  margin: 3px 0 7px 0;

  display: inline-block;
}

.b-account__name:hover {
  color: #444;
}


/* Modificators */

.b-account_header {
  width: 200px;

  margin-top: 14px;

  position: absolute;
  top: 0;
  right: 12px;
}

.b-account_unlogged {
  width: 150px;

  padding-top: 17px;
}

.b-account_unlogged
.b-account__info {
  text-align: center;

  padding-left: 0;
}

.b-account_unlogged
.b-account__link {
  color: #111;
  margin-left: 10px;
  margin-right: 10px;
}

.b-account_unlogged
.b-account__link:hover {
  color: #444;
}

.b-account_unlogged
.b-account__link:first-child {
  margin-left: 0;
}

.b-account_unlogged
.b-account__link:last-child {
  margin-right: 0;
}

.b-account_unlogged
.b-account__avatar-wrapper {
  display: none;
}


.b-account_newline {
  margin-top: -5px;
}

.b-account_newline
.b-account__info {
  height: auto;

  padding-top: 12px;
  padding-left: 0;
}

.b-account_newline
.b-account__avatar-wrapper {
  float: none;
}

.b-account_newline
.b-account__avatar-wrapper {
  width: 84px;
  height: 84px;
}

/* Avatar and info are on the right side */

.b-account_right
.b-account__info {
  padding-left: 0;
  padding-right: 12px;

  text-align: right;
}

.b-account_right
.b-account__avatar-wrapper {
  float: right;
}

@media all and (max-width: 960px) {
  .b-account_header {
    margin-right: 12px;
  }
}

@media all and (max-width: 600px) {
  /* Modificators */

  .b-account_header {
    margin-right: 0;
    margin-top: 0;
  }


  .b-account {
    width: auto;

    font-size: 12px;

    display: block;
    overflow: hidden;

    position: relative;
    right: 0;
  }

  .b-account_unlogged {
    font-size: 12px;
  }

  .b-account_unlogged
  .b-account__info {
    text-align: right;
  }


  .b-account_newline {
    margin-top: 0;
  }

  .b-account_newline
  .b-account__info {
    height: auto;
    font-size: 11px;

    padding-top: 0;
    padding-right: 12px;

    text-align: right;
  }

  .b-account_newline
  .b-account__avatar-wrapper {
    float: right;
  }

  .b-account_newline
  .b-account__avatar-wrapper {
    width: 42px;
    height: 42px;
  }
}