/* Buttons */

.b-buttons__button {
  margin-right: 8px;
}
.b-buttons__button:last-child {
  margin-right: 0;
}

.b-buttons__right {
  float: right;
}


/* Modificators */

.b-buttons_vertical {
  padding: 0 0 8px 0;
}

.b-buttons_aside {
  margin-left: 12px;
}

.b-buttons_vertical
.b-buttons__button {
  margin: 3px 0;
}

@media all and (max-width: 600px) {
  .b-buttons__button {
    width: 100%;
    font-size: 24px;
    margin: .2em 0;
    display: block;
  }

  .b-buttons__right {
    float: none;
  }

  /* Modificators */

  .b-buttons_vertical
  .b-buttons__button {
    margin: 10px 0;
  }

  .b-buttons_aside {
    margin-left: 0;
  }
}