.b-caution {
  margin: 120px 0 60px;
}

.b-caution__big-header {
  font-size: 120px;
  line-height: .8em;
  color: #31AEFF;

  margin-bottom: 20px;
}

.b-caution__normal-header {
  font-size: 48px;
  color: #31AEFF;
}

@media all and (max-width: 600px) {
  .b-caution {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .b-caution__big-header {
    font-size: 42px;
    color: #111;
  }

  .b-caution__normal-header {
    font-size: 42px;
  }
}