/* Checkbox */

.b-checkbox {
  font-size: 11px;

  display: block;
}

.b-checkbox_inline-with-button {
  position: relative;
  top: 4px;
}

.b-checkbox__label {
  margin-left: 18px;
  padding: 1px 0 12px 0;

  overflow: visible;
}

.b-checkbox__checkbox {
  margin: 0;
}

.b-checkbox__link {
  color: #111;
}
.b-checkbox__link:hover {
  color: #666;
}

@media all and (max-width: 600px) {
  /* Checkbox group */

  .b-checkbox__label {
    font-size: 15px;
    line-height: 1.2em;

    padding-top: 0;

    position: relative;
    top: -1px;
  }
}