.b-copyrights__stats {
  width: 170px;
}

@media all and (max-width: 600px) {
  .b-copyrights__copyright {
    padding-top: 15px;

    clear: both;
  }

  .b-copyrights__stats {
    line-height: 1.8em;
  }
}