.b-diskusage {
  font-size: 11px;
  line-height: 1.8em;
}


/* Modificators */

.b-diskusage_aside {
  margin-left: 12px;
}

@media all and (max-width: 600px) {
  .b-diskusage {
    line-height: 1.4em;
    font-size: 15px;

    padding: 0 0 25px 0;
    margin-left: 0;
  }
}