.b-dndshaded {
  background: rgba(0,0,0,.75);

  text-align: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding-top: 20%;

  z-index: 9999999;
}

.b-dndshaded__title {
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

.b-dndshaded__title
.i-icon-file {
  font-weight: 100;
  line-height: 2em;
  display: inline-block;
  margin-left: -80px;
}