.b-download {
  background: #31AEFF;

  font-size: 100px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  
  -moz-box-shadow: 2px 4px 7px rgba(0,0,0,0.18);
  -webkit-box-shadow: 2px 4px 7px rgba(0,0,0,0.18);
  box-shadow: 2px 4px 7px rgba(0,0,0,0.18);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: block;
}

.b-download:hover,
.b-download:active {
  color: #FFF;
}

@media all and (max-width: 600px) {
  .b-download {
    font-size: 400%;
  }
}