.b-dragndrop {
  height: 66px;
  background: #D5EEFF;

  margin-right: 40px;
  padding: 12px;
}

.b-dragndrop__title {
  line-height: .89em;

  border-bottom: 1px dashed;
  padding: 0;
  margin: 0;
}

.b-dragndrop__subtitle {
  font-size: 11px;
  line-height: 43px;
  color: #31AEFF;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media all and (max-width: 960px) {
  .b-dragndrop {
    margin-right: 240px;
  }
}

@media all and (max-width: 600px) {
  .b-dragndrop {
    display: none;
  }
}