.b-dropdown {
  position: relative;
  overflow: visible;
}

.b-dropdown__arrow {
  width: 40px;
  height: 40px;

  color: #111;
  text-align: center;

  cursor: pointer;
}

.b-dropdown__arrow:hover {
  color: #31AEFF;
}

.b-dropdown__arrow:after {
  font-size: 17px;
  line-height: 40px;

  vertical-align: bottom;
}

.b-dropdown__list {
  width: 100%;

  list-style: none;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 42px;

  cursor: default;
}

.b-dropdown__list_top {
  top: auto;
  bottom: 41px;
}

.b-dropdown__item {
  background: #E0E0E0;
  line-height: 1.5em;
  color: #111;

  padding: 7px;
  margin: -1px 40px 0 0;
  border: 1px solid #B2B5B6;
}
.b-dropdown__item:hover {
  background: #D8EEFF;
}

.b-dropdown__item_disabled {
  color: #949494;

  background: #E0E0E0;
}

.b-dropdown__item_disabled:hover {
  background: #E0E0E0;
}