/* Files */

.b-files__hidden {
  visibility: hidden;
}

/* Column styles */

.b-files__column {
  font-size: 11px;
}

.b-files__column.b-files__kbs {
  width: 36px;
  padding-right: 0;
}

.b-files__kbs-speed {
  display: block;
}

.b-files__link {
  text-decoration: none;
  text-transform: uppercase;

  display: none;
}

.b-files__column.b-files__filename {
  font-size: 15px;

  padding-right: 0;
  word-wrap: break-word;
}

.b-files__head
.b-files__file {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.b-files__file {
  width: 1px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.b-files__hits {
  width: 63px;
  height: 21px;

  text-align: right;
  font-size: 11px;

  padding-left: 0;
  padding-right: 12px;
}

.b-files__column.b-files__mb {
  width: 66px;
  padding-right: 13px;

  text-align: right;
}

.b-files__column.b-files__uploaded {
  width: 73px;

  padding-right: 0;
}


.b-files__column.b-files__time {
  width: 55px;

  text-align: left;
}

.b-files__column.b-files__actions {
  width: 80px;

  text-align: right;

  padding-left: 0;
}



/* Head styles */

.b-files__head
.b-files__column {
  padding-top: 10px;
  padding-bottom: 22px;
}

/* Body styles */

.b-files__body
.b-files__row:hover
.b-files__column {
  background: #D8EEFF;
}

.b-files__body
.b-files__row:hover
.b-files__hidden {
  visibility: visible;
}


/* Hide speed & show link */

.b-files__body
.b-files__row:hover
.b-files__kbs-speed {
  display: none;
}

.b-files__body
.b-files__row:hover
.b-files__link {
  display: block;
}


/* Footer styles */

.b-table__foot
.b-table__column {
  height: 39px;

  font-size: 11px;
  color: #959595;

  border-bottom: 0;
  cursor: default;
}

.b-files__foot
.b-files__column.b-files__filename {
  height: 53px;
}

.b-files__foot
.b-files__mb {
  float: right;
}


/* Files which is loading */

.b-files__loading
.b-files__filename {
  color: #959595;

  vertical-align: bottom !important;
}

.b-files__loading
.b-files__column {
  color: #949494;
}

.b-files__loading
.b-progressbar {
  display: block;
}

.b-files__loading
.b-files__hidden {
  visibility: visible !important;
}

.b-files__loading
.b-files__link {
  display: none !important;
}

.b-files__loading
.b-files__kbs-speed {
  display: block !important;
}


/* Icons */

.b-files__body
[class*="i-icon-"] {
  font-size: 15px;
  color: #53ABFD;

  display: inline-block;
  margin: 0 2px;

  position: relative;
  bottom: 2px;
}

.b-files__body
[class*="i-icon-"]:after {
  position: relative;
  top: 3px;
}

.b-files__body
.b-files__loading
[class*="i-icon-"] {
  color: #949494;
}

.b-files__body
.b-files__loading
[class*="i-icon-"]:after {
  color: #AEAEAE;
}

.b-files__body
.b-files__row:hover
[class*="i-icon-"],
.b-files__body
.b-files__row:hover
[class*="i-icon-"]:after {
  color: #75C0FE;
}

.b-files__body
.i-icon-remove {
  font-size: 12px;

  margin-left: 6px;

  top: -1px;
  float: right;
}
.lt-ie9
.b-files__body
.i-icon-remove:after {
  top: 4px;
}


.lt-ie9
.b-files__body
.i-icon-mail {
  top: -3px;
}

.b-files__body
.i-icon-mail:after {
  font-size: 18px;
  top: 1px;

  margin-left: 3px;
}
.lt-ie9
.b-files__body
.i-icon-mail:after {
  top: 2px;
}



.b-files__body
.i-icon-flag:after {
  font-size: 14px;
}

.b-files__body
.b-files__row:hover
.i-icon-flag:after {
  color: #53ABFD;
}


@media all and (max-width: 600px) {
  .b-files {
    margin-top: 0;
    display: block;
  }

  .b-files__head {
    display: none;
  }

  .b-files__body {
    width: 100%;
  }

  .b-files__kbs,
  .b-files__hits,
  .b-files__head .b-files__mb,
  .b-files__body .b-files__mb,
  .b-files__uploaded,
  .b-files__time {
    display: none;
  }

  .b-files__column.b-files__filename {
    padding-right: 12px;
  }

  .b-files__body
  .b-files__row:first-child
  .b-files__column {
    border-top: 2px solid #D6D6D6;
  }

  .b-files__foot
  .b-files__filename
  .b-files__mb {
    padding-right: 0;
  }

  .b-files__filename {
    width: 100%;
  }

  .b-files__body
  .b-files__column.b-files__filename {
    font-weight: bold;

    padding-right: 0;
  }

  .b-files__column.b-files__actions {
    width: 30px;

    padding: 0 0 0 12px;
  }

  .b-files__actions .i-icon-mail,
  .b-files__actions .i-icon-lock,
  .b-files__actions .i-icon-unlock,
  .b-files__actions .i-icon-remove {
    display: none;
  }

  .b-files__actions .i-icon-flag {
    padding: 8px 12px 9px 0;

    top: 0;
  }

  .b-files__actions .i-icon-flag:after {
    top: 2px;
  }
}