.b-filename:after {
  clear: none;
}

.b-filename__filename {
  font-size: 15px;
  line-height: 1.5em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-filename__size {
  font-size: 11px;
  line-height: 22px;
  vertical-align: bottom;
  color: #959595;
}

.b-filename_downloads {
  padding-top: 50px;
}

.b-filename_downloads
.b-filename__filename {
  font-size: 18px;
}

@media all and (max-width: 600px) {
  .b-filename {
    padding-top: 0;

    border-width: 2px 0 2px;
    border-style: solid;
    border-color: #D6D6D6;

    padding: 0 12px;
    margin: 0 -12px;
  }

  .b-filename_noborder {
    border: 0;
  }

  .b-filename_noborder
  .b-filename__size {
    line-height: 22px;
  }

  .b-filename__size {
    line-height: 37px;
  }
}