/* Form */

.b-form {
  position: relative;
}

.b-form__wrapper {
  padding: 0 180px 7px 0;
}

.b-form__agreements {
  margin-top: 11px;
}

.b-form__submit-wrapper {
  clear: both;
}
.b-form__submit-wrapper:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.b-form__submit {
  margin: 0;
}

@media all and (max-width: 960px) {
  .b-form__wrapper {
    padding-right: 0;
  }
}

@media all and (max-width: 600px) {
  /* Form group */

  .b-form__agreements.i-left {
    float: none;
  }

  .b-form__submit {
    float: none;
  }
}