/* Footer */

.b-footer {
  padding-top: 72px;

  position: relative;
}


/* Lark icon */

.b-footer__lark {
  text-decoration: none;
  
  position: absolute;
  top: -72px;
  left: 0;

  display: block;
}

.b-footer__lark:after {
  font-family: "GeneralFoundicons";
  font-size: 59px;
  color: black;

  display: inline-block;
  content: "\f031";
}


/* Lark position fix for IE8*/

.lt-ie9 .b-footer__lark {
  top: -83px;
}


/* Footer nav and custom container */

.b-footer__width {
  max-width: 1080px;

  margin: 0 auto;
  
  position: relative;
}

.b-footer__width-inner {
  margin-left: 53px;
}


/* Navigation */

.b-footer__nav {
  height: 26px;
  background-color: #111;

  cursor: default;
}

.b-footer__nav .b-footer__link {
  color: #fff;
  line-height: 11px;
  font-size: 11px;

  margin-right: 11px;

  text-decoration: none;
  border-bottom: 1px solid;

  display: inline-block;
}

.b-footer__nav .b-footer__link:hover {
  color: #CCC;
}


/* Links in navigation */

.b-footer__links {
  height: 22px;
  line-height: 22px;
}


/* Blue line for slogan and copyrights */

.b-footer__custom {
  height: 50px;

  background-color: #31AEFF;

  overflow: hidden;
}


/* Slogan & copyrights & like button */

.b-footer__slogan {
  font-size: 330%;
  line-height: 1.21em;
  color: #FFF;

  margin: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.b-footer__copyrights-inner {
  line-height: 1em;
  display: inline-block;

  vertical-align: middle;
}

.b-footer__copyrights {
  line-height: 50px;

  font-size: 11px;
}

.b-footer__copyrights,
.b-footer__like {
  width: 184px;
}

.b-footer__like {
  height: 20px;

  margin: 3px 0;

  position: relative;
}

@media all and (max-width: 960px) {
  .b-footer__lark {
    position: absolute;
    left: auto;
    right: 12px;
  }
}

@media all and (max-width: 600px) {
  .b-footer__nav {
    height: auto;

    padding: 12px 0;
  }


  .b-footer__custom {
    display: none;
  }


  .b-footer__nav
  .b-footer__link {
    display: none;
  }

  .b-footer__nav
  .b-footer__link_email {
    display: inline-block;
  }

  .b-footer__like {
    width: auto;
  }

  .b-footer__width {
    left: 0;

    padding: 0 12px;
  }

  .b-footer__width-inner {
    margin: 0;
  }


  .b-footer__lark {
    top: -84px;
  }
}