/* Folders */

.b-folders {
  /*width: 220px;*/
}


.b-folders__folder {
  margin: 5px 0;

  cursor: pointer;
}


.b-folders__filescount {
  width: 26px;
  height: 21px;

  font-size: 11px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
  text-align: center;

  margin: 5px 9px 9px 12px;

  position: relative;
  display: block;
}

.b-folders__filescount.i-icon-folder:after {
  font-size: 26px;
  line-height: 14px;
  color: #959595;

  z-index: 1;
  display: block;
}

.lt-ie9
.b-folders__filescount.i-icon-folder:after {
  height: 26px;
  line-height: 9px;

  overflow: visible;
}


.b-folders__count {
  width: 26px;
  height: 11px;
  line-height: 11px;

  position: absolute;
  top: 7px;

  overflow: visible;
  display: block;
  z-index: 2;
}


.b-folders__foldername {
  height: 35px;

  color: #949494;
  line-height: 35px;
  text-decoration: none;

  overflow: hidden;
}


.b-folders__remove {
  height: 35px;
  line-height: 34px;

  display: none;
}


.b-folders__remove.i-icon-remove:after {
  font-size: 13px;
  line-height: 1em;
  padding-right: 10px;
  padding-left: 10px;

  position: relative;
  top: 2px;
}


/* Active folder */

.b-folders__folder_active
.b-folders__foldername {
  color: #111;
  font-weight: bold;
}

.b-folders__folder_active
.b-folders__filescount:after {
  color: #111;
}


/* Add new folder */

.b-folders__folder_new {
  margin-top: 0;
}

.b-folders__folder_new
.i-icon-folder:after {
  content: "\f030";
}


/* Hovers */

.b-folders__folder:hover {
  background-color: #D8EEFE;
}

.b-folders__foldername:hover {
  color: #949494;
}

.b-folders__folder_active
.b-folders__foldername:hover {
  color: #111;
}

.b-folders__folder:hover
.b-folders__remove {
  display: block;
}

.b-folders__folder:hover.b-folders__folder_new
.b-folders__remove {
  display: none;
}


/* All files */

.b-folders__folder_allfiles
.b-folders__filescount:after {
  display: none;
}

.b-folders__folder_allfiles
.b-folders__count {
  color: #949494;
}

.b-folders__folder_allfiles.b-folders__folder_active
.b-folders__count {
  color: #111;
}

@media all and (max-width: 600px) {
  .b-folders {
    margin-bottom: 20px;
  }

  .b-folders__folder:hover
  .b-folders__remove {
    display: none;
  }

  .b-folders__folder {
    background-color: #D6D6D6;

    margin: 5px 0;

    font-weight: bold;
  }

  .b-folders__folder_new {
    display: none;
  }

  .b-folders__foldername {
    line-height: 39px;
    padding-left: 10px;
  }


  .b-folders__filescount {
    width: 39px;
    height: 26px;

    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;

    margin: 5px 5px 6px 12px;

    position: relative;
    display: block;
    overflow: visible;

    float: right;
  }

  .b-folders__filescount.i-icon-folder:after {
    height: 26px;

    font-size: 38px;
    line-height: 16px;
    color: #959595;

    z-index: 1;
    display: block;
  }




  .b-folders__count {
    width: 38px;
    height: 12px;

    color: #D6D6D6;
    line-height: 12px;

    position: absolute;
    top: 9px;
  }

  /* Hovers and actives */

  .b-folders__folder:hover {
    background-color: #31AEFF;
  }
  .b-folders__folder:hover
  .b-folders__foldername {
    color: #FFF;
  }

  .b-folders__folder:hover
  .b-folders__count {
    color: #31AEFF;
  }


  /* Active folder (which is currently selected) */

  .b-folders__folder_active,
  .b-folders__folder_active:hover {
    background-color: #31AEFF;
  }


  .b-folders__folder_active
  .b-folders__count,
  .b-folders__folder_active:hover
  .b-folders__count {
    color: #31AEFF;
  }

  .b-folders__folder_allfiles
  .b-folders__filescount:after {
    display: none;
  }

  .b-folders__folder_allfiles
  .b-folders__count {
    color: #949494;
  }

  .b-folders__folder
  .b-folders__filescount:after,

  .b-folders__folder_active
  .b-folders__foldername,

  .b-folders__folder_allfiles.b-folders__folder_active
  .b-folders__count,

  .b-folders__folder_allfiles.b-folders__folder_active:hover
  .b-folders__count,

  .b-folders__folder_allfiles:hover
  .b-folders__count {
    color: #FFF;
  }

}