.b-greylinks__link {
  font-size: 11px;
  line-height: 1em !important;
  color: #989898;
  text-decoration: none;

  border-bottom: 1px solid;
  margin-right: 10px;

  display: inline-block;
}

.b-greylinks_login {
  padding-left: 100px;
}

@media all and (max-width: 600px) {
  .b-greylinks_login {
    padding-left: 0px;
  }

  .b-greylinks__link {
    font-size: 15px;
  }
}