/* Input group */

.b-input {
  margin: 12px 0;

  display: block;
}

input.b-input__input[disabled] {
  background: none;

  padding-left: 0;
  border: #FFF;

  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.b-input__input {
  width: 100%;

  -moz-box-shadow: inset 3px 3px 8px -7px rgba(0,0,0,.8);
  -webkit-box-shadow: inset 3px 3px 8px -7px rgba(0,0,0,.8);
  box-shadow: inset 3px 3px 8px -7px rgba(0,0,0,.8);
}

input.b-input__input {
  height: 36px;
}

.b-input__input_flexible {
  height: auto;
}

.b-input__input-selected {
  max-width: 100%;
  background: #31AEFF;

  line-height: 1.6em;
  color: #FFF;

  display: inline-block;
  padding: 1px 6px 0;
  margin: -1px 0 -3px 0;

  white-space: normal;
  word-wrap: break-word;
}

.b-input__label {
  color: #959595;

  margin-bottom: 5px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.b-input__label_left {
  width: 120px;
  height: 36px;

  font-size: 11px;
  line-height: 32px;
  text-align: right;

  position: absolute;
  
  left: -144px;
  vertical-align: middle;
}


.b-input_login {
  padding-left: 100px;
  padding-right: 100px;

  position: relative;
}

.b-input_login
.b-input__label_left {
  width: 100px;
  text-align: right;
  
  padding-right: 15px;
  
  left: 0;
}

.b-input__input_wrong {
  border: 2px solid #E04D05 !important;
}

.b-input__checking {
  width: 31px;
  height: 31px;

  position: absolute;
  top: 2px;
  right: 44px;
}

@media all and (max-width: 600px) {
  /* Input group */

  .b-input__input {
    width: 100%;

    -moz-box-shadow: inset 3px 5px 8px -7px rgba(0,0,0,.6);
    -webkit-box-shadow: inset 3px 5px 8px -7px rgba(0,0,0,.6);
    box-shadow: inset 3px 5px 8px -7px rgba(0,0,0,.6);
  }

  .b-input__input[disabled] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .b-input__label {
    height: auto;
    width: 100%;

    text-align: left;

    padding: 0;

    position: relative;
    top: 0;
    left: 0;

    display: inline-block;
    overflow: visible;
    white-space: normal;
  }

  .b-input__label_left {
    line-height: 1em;
  }

  .b-input_login
  .b-input__label_left {
    height: auto;
    width: 100%;

    text-align: left;

    margin-bottom: 0;
  }

  .b-input_login {
    padding-left: 0;
    padding-right: 0;
  }

  .b-input__checking {
    display: none;
  }
}