/* Layout */

.b-layout {
  max-width: 1012px;

  margin: 0 auto;
  padding-top: 5px;
  padding-right: 12px;

  position: relative;
}

.b-layout__aside {
  width: 204px;

  padding: 7px 8px 0 12px;
}

.b-layout__body {
  min-height: 600px;

  margin-left: 204px;

  overflow: visible;
}

.b-layout__table-wrapper {
  margin-top: 56px;
}


/* Part of layout where content places */

.b-layout__content {
  margin: 0 200px 0 47px;
}

@media all and (max-width: 960px) {
  .b-layout__content {
    margin-right: 12px;
  }

  .b-layout__header {
    margin-right: 200px;
  }
}

@media all and (max-width: 600px) {
  .b-layout {
    padding-right: 0;
  }

  .b-layout__aside {
    width: 100%;

    padding: 9px 12px 0;
  }

  .b-layout__aside-wrap {
    display: block;

    margin-top: 0;
    padding-top: 0;
  }

  .b-layout__aside-wrap:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    
    clear: both;
  }

  .b-layout__body {
    min-height: 100px;

    margin: 0 0 0;

    clear: both;
  }

  .b-layout__content {
    margin: 0 12px;
  }

  .b-layout__table-wrapper {
    margin-top: 0;
  }


  /* Don't show page header in mobile version */


  .b-layout__header {
    margin-right: 0;
  }

  .b-layout__header_mobile {
    display: none;
  }
}