/* Dashed link */

.b-link {
  font-size: 11px;
  line-height: 1em;

  display: block;

  text-decoration: none;
}

.b-link__wrapper {
  display: inline-block;
  border-bottom: 1px dashed;
}

.b-link:hover
.b-link__wrapper {
  border-bottom: 0;

  padding-bottom: 1px;
}

@media all and (max-width: 600px) {
  .b-link {
    font-size: 17px;
  }

  .b-link
  .b-link__wrapper {
    border: 0;
    padding-bottom: 1px;
  }
}