/* Logo */

.b-logo {
  line-height: 37px;
  color: #111;
  
  border-bottom: 1px solid;
  margin: 7px 0 101px 43px;
  padding: 0 3px 4px 0;

  display: inline-block;
}

.b-logo_noborder {
  border-bottom: 0;
}


.b-logo
.b-logo__link {
  text-decoration: none;
  color: #111;
}

.b-logo:hover
.b-logo__link {
  background: #111;
  color: #FFF;

  padding-right: 5px;
}

.b-logo:hover {
  border-bottom: 0;
  padding-bottom: 5px;
}

@media all and (max-width: 600px) {
  /* Logo */

  .b-logo {
    margin: 0 0 20px 0;

    float: left;
  }
}