.b-modal {
  background: rgba(0,0,0,.75);

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 9999999999;
}

.b-modal__dialogue {
  width: 588px;
  min-height: 312px;
  background: #fff;
  
  margin: 10% auto 0;
  padding: 0 25px 25px 25px;

  position: relative;
  -webkit-box-shadow: 1px 2px 8px rgba(0,0,0,.4);
  -moz-box-shadow: 1px 2px 8px rgba(0,0,0,.4);
  box-shadow: 1px 2px 8px rgba(0,0,0,.4);
}

.b-modal__body {
  min-height: 100%;
}

.b-modal__head {
  width: 100%;
  font-size: 11px;

  padding: 10px 0;

  color: #959595;
}

.b-modal__close {
  color: #959595;
  margin-top: 3px;
}

.b-modal__top-indent {
  margin-top: 40px;
}

.b-modal__submit__button {
  margin: 0;
  margin-left: 8px;
}

.b-modal__submit__login {
  margin-right: 100px;
}

.b-modal__agreement {
  padding-left: 100px;
}


.b-modal_desktop
.b-modal__body {
  padding-bottom: 26px;
}

.b-modal_desktop
.b-modal__submit {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
}

.b-modal_mobile {
  background: none;
  position: relative;
  top: 100px;
}

.b-modal_mobile
.b-modal__dialogue {
  width: 100%;
  height: auto;
  background: none;

  margin: 0;
  padding: 12px 0 12px 12px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.b-modal_mobile
.b-modal__head {
  display: none;
}

.b-modal_mobile
.b-modal__submit {
  margin-top: 0px;
}

@media all and (max-width: 600px) {
  .b-modal_mobile {
    top: 0;
  }

  .b-modal_desktop
  .b-modal__dialogue {
    width: 100%;
    margin: inherit 0;
  }

  .b-modal_mobile
  .b-modal__submit {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .b-modal_mobile
  .b-modal__dialogue {
    padding: 12px;
  }

  .b-modal_desktop
  .b-modal__submit {
    position: relative;
    top: 0;
    left: 0;

    margin: 0;
    float: none;
  }

  .b-modal_desktop
  .b-modal__submit__button {
    width: 100%;
    font-size: 28px;

    margin: 20px 0 0 0;

    display: block;
    float: none;
  }

  .b-modal_desktop
  .b-modal__body {
    padding-bottom: 0;
  }

  .b-modal_mobile
  .b-modal__top-indent {
    margin-top: 0px;
  }

  .b-modal__submit-inner {
    width: 100%;
  }

  .b-modal__login {
    margin-top: 30px;
  }

  .b-modal__agreement {
    padding-top: 15px;
    padding-left: 0;

    clear: both;
  }

  .b-modal__submit__button {
    width: 100%;
    font-size: 24px;
    margin: 50px 0 0 0;
  }
}