.b-notice {
  background: #FCF780;
  line-height: 1.5em;
  text-align: justify;

  padding: 13px 35px 13px 13px;
  margin: 13px 0 -53px 0;

  position: relative;
}


/* Close button */

.b-notice__close {
  height: 13px;
  font-size: 13px;
  line-height: 13px;


  display: inline-block;
  position: absolute;
  top: 11px;
  right: 11px;
}
.b-notice__close:after {
  color: #AEAEAE;
}

/* Another color for close link */

a.b-notice__close:hover:after {
  color: #797407 !important;
}


/* Remove margins from first and last paragraphs */

.b-notice p:first-child {
  margin-top: 0;
}
.b-notice p:last-child {
  margin-bottom: 0;
}

@media all and (max-width: 600px) {
  .b-notice {
    margin-bottom: 20px;
  }
}