/* Progressbar */

.b-progressbar {
  width: 100%;
  height: 6px;
  background: #D6D6D6;

  position: relative;
  bottom: -1px;
  left: 0;

  display: none;
}

.b-progressbar__progress {
  width: 0%;
  height: inherit;
  background: #31AEFF;
}