.b-recepients__lock {
  width: 130px;
  cursor: default;
}

.b-recepients__recepients {
  font-size: 0;
}

.b-recepients__fileinfo {
  font-size: 11px;
  line-height: 1.5em;
  color: #959595;
}


.b-recepients__recepient-outer {
  width: 50%;
  font-size: 11px;

  display: inline-block;
  vertical-align: middle;

  overflow: hidden;
}

.b-recepients__recepient {
  max-width: 99%;
  background: #959595;

  line-height: 1.5em;
  color: #FFF;
  text-decoration: none;

  padding: 0 3px;
  margin: 1px 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: inline-block;
}

.b-recepients__recepient:hover {
  background: #AAA;
  color: #FFF;
}

.b-recepients__title {
  padding: 1px 0 2px;
}

.b-recepients__icon {
  font-size: 15px;
  line-height: 1em;
  color: #959595;
}

.b-recepients__recepients-title {
  font-size: 11px;
  line-height: 1.5em;
  color: #959595;
}

@media all and (max-width: 600px) {
  .b-recepients__recepient-outer {
    width: 100%;
  }

  .b-recepients__icon_mail {
    display: inline-block;
  }

  .b-recepients__recepients-title {
    line-height: 1.7em;

    position: relative;
    top: -1px;

    display: inline-block;
  }

  .b-recepients__lock {
    width: 100%;
    float: none;
  }

  .b-recepients__icon_lock,
  .b-recepients__icon_unlock {
    width: 50px;
    height: 50px;
    background: #949494;

    color: #fff;

    position: relative;
  }

  .b-recepients__icon_lock:after,
  .b-recepients__icon_unlock:after {
    position: relative;
    top: 4px;
    left: 4px;
  }

  .b-recepients__icon_unlock:after {
    top: 3px;
    left: 7px;
  }

  .b-recepients__unlocked {
    font-size: 11px;
    position: absolute;

    bottom: 0;
    right: 3px;
  }

  .b-recepients__fileinfo {
    width: auto;

    line-height: 1.6em;
  }

  .b-recepients__lock
  .b-recepients__icon {
    float: left;

    margin-right: 13px;
  }

  .b-recepients__lock {
    margin-bottom: 26px;
  }

  .b-recepients__recepient {
    font-size: 15px;
    font-weight: bold;
  }
}