/* Table */

.b-table {
  width: 100%;

  table-layout: fixed;
  word-wrap: break-word;
}

.b-table__column {
  height: 35px;
  line-height: 1.4em;

  border-bottom: 2px solid #D6D6D6;
  padding: 0 12px;

  position: relative;
  vertical-align: middle;
}


/* Head styles */

.b-table__head
.b-table__column {
  height: auto;

  font-size: 11px;
  color: #A0A0A0;

  border-bottom: 0;

  vertical-align: top;

  cursor: default;
}


/* Body styles */

.b-table__body {
  width: 100%;
  cursor: default;
}


/* Footer styles */

.b-table__foot
.b-table__column {
  height: 39px;

  font-size: 11px;
  color: #959595;

  border-bottom: 0;
  cursor: default;
}
/* Sorting */

.b-table__sortable {
  cursor: pointer !important;
}

.b-table__sortable
.b-table__sortby {
  border-bottom: 1px solid;
}

.b-table__sortable:hover
.b-table__sortby {
  border-bottom: 0;
}



/* Icons for sorting */

.b-table__sortby:after {
  font-size: 6px;

  padding-left: 4px;

  position: relative;
  top: -1px;
}

.b-table__sortable
.b-table__asc,
.b-table__sortable
.b-table__desc {
  border-bottom: 0 !important;
}

.b-table__sortable
.b-table__desc:after,
.b-table__sortable 
.b-table__asc:after {
  width: auto;
  height: auto;
  background: none;

  font-family: "GeneralFoundicons";
  font-style: normal;
}

.b-table__sortable
.b-table__desc:after {
  content: "\f032";
}

.b-table__sortable
.b-table__asc:after {
  content: "\f033";
}