.b-uploads__kbs,
.b-uploads__mb,
.b-uploads__uploaded {
  font-size: 11px;
}

.b-uploads__kbs {
  width: 48px;

  color: #949494;
}

.b-uploads__mb {
  width: 90px;

  text-align: right;
}

.b-uploads__uploaded {
  width: 190px;
}

.b-uploads__username {
  vertical-align: bottom;
}

.b-uploads__loading
.b-progressbar {
  display: block;
}


/* Header */

.b-uploads__head
.b-uploads__column {
  padding-bottom: 35px;
}


/* Body */

.b-uploads__body
.b-uploads__company {
  width: 50%;
  color: #949494;

  padding-left: 12px;
}

@media all and (max-width: 600px) {
  .b-uploads__uploaded {
    width: 70px;

    padding-left: 0;
  }

  .b-uploads__kbs {
    width: 35px;
    padding-right: 0;
  }

  .b-uploads__mb {
    width: 50px;

    padding-left: 0;
  }

  .b-uploads__body
  .b-uploads__company {
    padding-left: 9px;
  }
}