/* Users columns */

.b-users_no-border
.b-users__column {
  border-bottom: 0;
}

.b-users__head
.b-users__column {
  padding-top: 12px;
  padding-bottom: 8px;
}

.b-users
.b-users__column:last-child {
  padding-right: 25px;
}

.b-users__head
.b-users__column:first-child {
  padding-left: 46px;
}

.b-users__body
.b-users__column {
  padding-left: 40px;

  padding-bottom: 2px;
  padding-top: 2px;

  vertical-align: middle;
}

.b-users__column_half {
  width: 50%;
}


/* Users account block */

.b-users__account-wrap {
  width: 50%;
  float: left;
}

.b-users__account-wrap:nth-child(2n+1) {
  padding-right: 9px;
}

.b-users__account-wrap:nth-child(2n) {
  padding-left: 9px;
}

.b-users__account {
  height: 54px;
  
  font-size: 11px;

  padding: 6px;
  margin: 4px 0;
}

.b-users__account:hover {
  background: #D8EEFE;
}

.b-users__info {
  height: 42px;
  line-height: 42px;

  overflow: hidden;

  position: relative;
}

.b-users__info:before,
.b-users__info:after {
  background-color: rgba(245,245,245,.8);

  width: 3px;
  height: 100%;

  content: '';

  position: absolute;
  top: 0;
  right: 0;
}

.b-users__info:after {
  width: 2px;
}

.b-users__account:hover .b-users__info:before,
.b-users__account:hover .b-users__info:after {
  background-color: rgba(216,238,254,.8);
}

.b-users__head .b-users__mb,
.b-users__head .b-users__files {
  width: 50px;

  padding-right: 0;
  padding-left: 0;

  text-align: right;
}

.b-users__head .b-users__files {
  width: 106px;
  padding-right: 56px;
}

.b-users__body .b-users__mb {
  width: 7px;
}

.b-users__body .b-users__mb,
.b-users__body .b-users__files {
  width: 50px;
  height: 42px;
  line-height: 42px;
  
  text-align: right;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-users__files {
  margin-right: 50px;
}

.b-users__request {
  width: 150px;

  line-height: 42px;

  padding-left: 12px;

  display: none;
}

.b-users__account:hover
.b-users__request {
  display: block;
}

.b-users__request-link {
  line-height: 1.5em;
}

@media all and (max-width: 600px) {
  /* Users columns */

  .b-users
  .b-users__column:last-child {
    padding-right: 10px;
  }

  .b-users__head
  .b-users__column:first-child {
    padding-left: 16px;
  }

  .b-users__body
  .b-users__column {
    padding-left: 10px;
  }

  .b-users__column_half {
    width: 0;
  }

  .b-users__column
  .b-users__account-wrap {
    width: 100%;
    float: none;

    padding: 0;
  }


  .b-users__head
  .b-users__files {
    width: 66px;
    padding-right: 16px;
  }

  .b-users__files {
    margin-right: 0;
  }

  .b-users__request {
    width: 140px;
    display: block;

    text-align: right;
  }

  .b-users__request-link {
    width: 100px;
    margin: 5px 0 0 0;

    padding-left: 0;
    padding-right: 0;

    display: inline-block;
  }

  .b-users__request-link:first-child {
    margin-top: 0;
  }
}