/* Change userpic */

.b-userpic {
  margin-top: 10px;
  margin-bottom: 15px;
}


/* Userpic label for b-input */

.b-userpic__label {
  line-height: 1.4em;
}


/* Inner wrapper of userpic block */

.b-userpic__inner {
  padding-bottom: 4px;
}


/* Outer wrapper of avatar image*/

.b-userpic__avatar-wrapper {
  width: 84px;
  height: 84px;
  background-color: #D7D7D7;

  position: relative;
}

.b-userpic__avatar {
  width: auto;
  height: 100%;
}


/* Delete userpic button */

.b-userpic__delete {
  display: inline-block;

  position: absolute;
  top: 0;
  right: -24px;
}
.lt-ie9
.b-userpic__delete {
  top: -3px;
}

.b-userpic__delete:after {
  font-size: 13px;
  color: #AEAEAE;
}

.b-userpic__link {
  padding-top: 5px;

  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.lt-ie9
.b-userpic__link {
  padding-top: 7px;
}


/* Modificators */

/* Userpic is on the right side */
.b-userpic_right
.b-userpic__inner {
  position: absolute;
  top: 0;
  right: 0;
}

/* Userpic is on the right side with change link */
.b-userpic_right-with-link {
  margin-top: 0;

  position: absolute;
  top: 0;
  right: 0;
}

.b-userpic_right-with-link
.b-userpic__label {
  display: none;
}

/* Userpic is hidden */
.b-userpic_none
.b-userpic__inner {
  display: none;
}

@media all and (max-width: 960px) {
  /* Userpic is in on the line */
  .b-userpic_right
  .b-userpic__inner {
    position: relative;
  }

  /* Userpic is on the line */
  .b-userpic_right-with-link {
    position: relative;
  }

  .b-userpic_right-with-link
  .b-userpic__label {
    display: block;
  }

  .b-userpic__link {
    width: auto;

    white-space: normal;
  }
}