@font-face {
  font-family: "GeneralFoundicons";
  src: url('../fonts/general_foundicons.eot');
  src: url('../fonts/general_foundicons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/general_foundicons.woff') format('woff'),
       url('../fonts/general_foundicons.ttf') format('truetype'),
       url('../fonts/general_foundicons.svg#GeneralFoundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}