  /* Main styles */
  @import url(normalize.css) all;
  @import url(style.css) all;
  /*@import url(style.mobile.css) all and (max-width: 600px);*/

  /* Fonts */
  @import url(fonts.css) all;
  /*@import url(general_foundicons.css) all;*/

  /* Logo */
  @import url(b-logo.css) all;
  /*@import url(b-logo.mobile.css) all and (max-width: 600px);*/

  /* Buttons */
  @import url(b-buttons.css) all;
  /*@import url(b-buttons.mobile.css) all and (max-width: 600px);*/

  /* Layout */
  @import url(b-layout.css) all;
  /*@import url(b-layout.tablet.css) all and (max-width: 960px);*/
  /*@import url(b-layout.mobile.css) all and (max-width: 600px);*/

  /* Folders */
  @import url(b-folders.css) all;
  /*@import url(b-folders.mobile.css) all and (max-width: 600px);*/
  /*@import url(b-folders.opera-mini.css) all;*/

  /* Files */
  @import url(b-files.css) all;
  /*@import url(b-files.mobile.css) all and (max-width: 600px);*/

  /* Input */
  @import url(b-input.css) all;
  /*@import url(b-input.mobile.css) all and (max-width: 600px);*/

  /* Checkbox */
  @import url(b-checkbox.css) all;
  /*@import url(b-checkbox.mobile.css) all and (max-width: 600px);*/

  /* Filename */
  @import url(b-filename.css) all;
  /*@import url(b-filename.mobile.css) all and (max-width: 600px);*/

  /* Link */
  @import url(b-link.css) all;
  /*@import url(b-link.mobile.css) all and (max-width: 600px);*/

  /* Userpic */
  @import url(b-userpic.css) all;
  @import url(b-userpic.ta/*b*/let.css) all and (max-width: 960px);

  /* Form */
  @import url(b-form.css) all;
  /*@import url(b-form.tablet.css) all and (max-width: 960px);*/
  /*@import url(b-form.mobile.css) all and (max-width: 600px);*/

  /* Footer */
  @import url(b-footer.css) all;
  /*@import url(b-footer.tablet.css) all and (max-width: 960px);*/
  /*@import url(b-footer.mobile.css) all and (max-width: 600px);*/

  /* Userpic */
  @import url(b-notice.css) all;
  /*@import url(b-notice.mobile.css) all and (max-width: 600px);*/

  /* Userpic */
  @import url(b-account.css) all;
  /*@import url(b-account.tablet.css) all and (max-width: 960px);*/
  /*@import url(b-account.mobile.css) all and (max-width: 600px);*/

  /* Users */
  @import url(b-users.css) all;
  /*@import url(b-users.tablet.css) all and (max-width: 960px);*/
  /*@import url(b-users.mobile.css) all and (max-width: 600px);*/

  /* Table */
  @import url(b-table.css) all;

  /* Disk usage */
  @import url(b-diskusage.css) all;
  /*@import url(b-diskusage.mobile.css) all and (max-width: 600px);*/

  /* Download */
  @import url(b-download.css) all;
  /*@import url(b-download.mobile.css) all and (max-width: 600px);*/

  /* Copyrights */
  @import url(b-copyrights.css) all;
  /*@import url(b-copyrights.mobile.css) all and (max-width: 600px);*/

  /* Caution */
  @import url(b-caution.css) all;
  /*@import url(b-caution.mobile.css) all and (max-width: 600px);*/

  /* Dropdown */
  @import url(b-dropdown.css) all;

  /* Uploads */
  @import url(b-uploads.css) all;
  /*@import url(b-uploads.mobile.css) all and (max-width: 600px);*/

  /* Progressbar */
  @import url(b-progressbar.css) all;

  /* Drag'n'drop */
  @import url(b-dragndrop.css) all;
  /*@import url(b-dragndrop.tablet.css) all and (max-width: 960px);*/
  /*@import url(b-dragndrop.mobile.css) all and (max-width: 600px);*/
  
  /* Modal dialogue */
  @import url(b-modal.css) all;
  /*@import url(b-modal.mobile.css) all and (max-width: 600px);*/

  /* Recepients */
  @import url(b-recepients.css) all;
  /*@import url(b-recepients.mobile.css) all and (max-width: 600px);*/

  /* Grey links */
  @import url(b-greylinks.css) all;
  /*@import url(b-greylinks.mobile.css) all and (max-width: 600px);*/

  /* Filename and size */
  @import url(b-filenamesize.css) all;

  /* Drag'n'drop with shaded background */
  @import url(b-dndshaded.css) all;



