* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Divider for making two DIV's inline with 100% width. */
/* __side DIV will be "width: auto" */
/* __base is floated */
.divider,
.divider__side {
  display: block;
}

.divider__side { /* Side */
  float: left; /* - Default - on the left side */
}

.divider__side_half {
  width: 50%;
}

.divider__side_r {
  float: right;
}  /* - On the right side */

.divider__base { /* Base */
  overflow: hidden; /* - Disable overflow for base element */
  display: block; /* - If __base will inline */
}

.divider__side,
.divider__base {
  word-wrap: break-word; /* - Break long words */
}

.divider:before,
.divider:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.divider:after {
  clear: both;
}


/* Main styles */

body {
  background-color: #31AEFF;

  font: 15px Helvetica, Arial, sans-serif;
  color: #222;

  margin: 0;
}

a {
  color: #53ABFD;

  cursor: pointer;
}

a:hover {
  color: #68B5FD;
}

h1 {
  color: #31AEFF;
  font-size: 48px;

  letter-spacing: -.03em;
}

h2 {
  font-size: 24px;
}

h4 {
  margin-bottom: -1em !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 7px 0;

  line-height: 1em;

  cursor: default;
}

p {
  line-height: 1.2em;
  margin: 1em 0;

  padding: 0;

  cursor: default;
}

label {
  padding: 3px 0;

  display: inline-block;
}

table {
  border-collapse: collapse;
}

table td {
  padding: 0;
}


/* Inputs */

input[type="text"],
input[type="password"],
textarea,
.i-input-text {
  background: #E0E0E0;

  line-height: 1.5em;
  color: #111;

  border: 1px solid #949494;
  padding: 7px;
  margin: 6px 0;

  display: block;
}

input[type="text"],
input[type="password"],
.i-input-text {
  height: 36px;
  font-weight: bold;
}

textarea {
  width: 100%;

  resize: vertical;
}


/* Buttons */

input[type="button"],
button {
  min-width: 120px;
  background-color: #31AEFF;

  color: #FFF;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;

  padding: 2px 15px;
  margin: 6px 0;

  border: 0;
}

input[type="button"]:hover,
button:hover {
  background-color: #49B7FF;
}

input[type="button"]:active,
button:active {
  background-color: #0D8ADB;
}


/* Icon links */

a[class*="i-icon-"],
a [class*="i-icon-"] {
  text-decoration: none;
}

a[class*="i-icon-"]:after,
a [class*="i-icon-"]:after {
  display: inline-block;
}

a[class*="i-icon-"]:hover:after,
a [class*="i-icon-"]:hover:after {
  color: #68B5FD !important;
}


/* Independent */

.i-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.i-left {
  float: left;
}

.i-right {
  float: right;
}

.i-hidden {
  display: none;
}

.i-block {
  display: block;
}

.i-table {
  display: table;
}

.i-inline-block {
  display: inline-block;
}


.i-link-black {
  text-decoration: none;
  line-height: 1em;
  color: #111;

  border-bottom: 1px solid;
  padding: 3px 3px 0 0;

  margin: 0;

  display: inline-block;
  cursor: pointer;
}
.i-link-black:hover {
  background: #111;
  color: #FFF;

  border-bottom: 0;
  padding-bottom: 1px;
}


.i-link-hover {
  text-decoration: none;
}

.i-link-hover:hover {
  border-bottom: 1px solid;
}

.i-clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.i-clear-both {
  clear: both;
}

.i-vertical-center {
  line-height: 1.3em;
  vertical-align: middle;

  position: relative;
  top: -1px;

  display: inline-block;
}

/* Colors */

.color-black {
  color: #111 !important;
}

.color-skyblue {
  color: #31AEFF !important;
}

.color-lightgrey {
  color: #959595 !important;
}


/* Font sizes */

.font-small {
  font-size: 11px;
}

.font-normal {
  font-size: 15px;
}


/* Font styles */

.font-underline {
  text-decoration: none;

  border-bottom: 1px solid;
}

.font-dashed {
  border-bottom: 1px dashed;
}


/* Cursors */

.cursor-hand {
  cursor: pointer;
}


/* Text selects */

.select-none {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;

  cursor: default;
}

.select-text {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

/* Button styles */

.button-grey {
  background-color: #AEAEAE;
}
.button-grey:hover {
  background-color: #BABABA;
}
.button-grey:active {
  background-color: #999999;
}


/* Icons */

.i-icon-mail:after,
.i-icon-flag:after,
.i-icon-lock:after,
.i-icon-unlock:after,
.i-icon-remove:after,
.i-icon-folder:after,
.i-icon-leftarrow:after,
.i-icon-rightarrow:after,
.i-icon-plus:after,
.i-icon-toparrow:after,
.i-icon-bottomarrow:after,
.i-icon-file:after {
  font-family: "GeneralFoundicons";
}

.i-icon-remove:after {
  content: "\f006";
}

.i-icon-folder:after {
  content: "\f02a";
}

.i-icon-addfolder:after {
  content: "\f030";
}

.i-icon-mail:after {
  content: "\f007";
}

.i-icon-flag:after {
  content: "\f027";
}

.i-icon-leftarrow:after {
  content: "\f034";
}

.i-icon-rightarrow:after {
  content: "\f035";
}

.i-icon-toparrow:after {
  content: "\f033";
}

.i-icon-bottomarrow:after {
  content: "\f032";
}


.i-icon-lock:after {
  content: "\f01b";
}

.i-icon-unlock:after {
  content: "\f01c";
}


.i-icon-file:after {
  content: "\f036";
}


/* Page block */

.i-page {
  background: #F5F5F5;
}


/* Hides */

.i-hide-in-desktop {
  display: none !important;
}

.i-hide-in-mobile {
  display: block;
}

@media all and (max-width: 600px) {
  /* Divider blocks will be separated by new line  */
  /* And these blocks wiil be 100% width */

  .divider_mobile > .divider__base {
    clear: both;
  }

  .divider_mobile > .divider__side {
    width: 100%;
  }


  body {
    background-color: #111;
  }

  input[type="button"],
  button {
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  }


  /* Mobile button */

  .i-button-mobile {
    background-color: #31AEFF;

    color: #FFF !important;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;

    border: 0;
    padding: 2px 15px;
    margin: 6px 0;

    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  }

  .i-button-mobile:hover {
    background-color: #49B7FF;
  }

  .i-button-mobile:active {
    background-color: #0D8ADB;
  }

  .i-link-hover {
    border-bottom: 0 !important;
  }


  /* Hides */

  .i-hide-in-desktop {
    display: block !important;
  }

  .i-hide-in-mobile {
    display: none !important;
  }
}